__pycache__
bin
build
lib64
lib
share
Pipfile.lock
pyvenv.cfg
*.pyc
venv/
env/
venv/**
env/**
settings.json
database/db.wifirouter
pikonek.code-workspace
setup/tcconfig.json
tcconfig.json
.vscode/launch.json
configs/pikonek.host
configs/pikonek.resolv
configs/packages/coinslot.yaml
configs/packages/captive_portal.yaml
configs/pikonekInit.cfg
configs/pikonek.yaml
configs/pikonek_net_mapping.yaml
configs/pikonek_dhcp_mapping.yaml
configs/pikonek_wpa_mapping.yaml
configs/ngrok.yaml
migrations/versions/**
pihole/docker-compose.yaml
pihole/etc-dnsmasq.d
pihole/etc-pihole
localversions
GitHubVersions
localbranches
pikonek/wireless/wirelessconfig.py
pikonek/wireless/utils.py
pikonek/wireless/main.py
pikonek/wireless/impl_wireless.py
pikonek/trafficcontrol/_shaper.py
pikonek/routes/web/voucher.py
pikonek/routes/web/settings.py
pikonek/routes/web/package.py
pikonek/routes/web/network.py
pikonek/routes/web/dhcp.py
pikonek/routes/web/device.py
pikonek/routes/web/coinslot.py
pikonek/routes/web/captive.py
pikonek/routes/web/admin.py
pikonek/routes/api/api.py
pikonek/pihole/utils.py
pikonek/pihole/main.py
pikonek/ngrok/utils.py
pikonek/ngrok/main.py
pikonek/_coinacceptor.py
pikonek/_common.py
pikonek/_timer.py
pikonek/authentication.py
pikonek/config.py
pikonek/database.py
pikonek/errors.py
pikonek/netutils.py
pikonek/pikonek_response.py
pikonek/server.py
pikonek/util.py
pikonek/license.py
pikonek/admin/main.py
pikonek/captive/captiveconfig.py
pikonek/captive/impl_captiveconfig.py
pikonek/captive/main.py
pikonek/captive/utils.py
pikonek/client/main.py
pikonek/coinslot/coinslotconfig.py
pikonek/coinslot/impl_coinslot.py
pikonek/coinslot/main.py
pikonek/coinslot/utils.py
pikonek/core/coreconfig.py
pikonek/core/impl_core.py
pikonek/core/main.py
pikonek/core/utils.py
pikonek/dhcp/dhcpconfig.py
pikonek/dhcp/impl_dhcp.py
pikonek/dhcp/main.py
pikonek/dhcp/utils.py
pikonek/firewall/__init__.py
pikonek/firewall/_constant.py
pikonek/firewall/_iptcv4.py
pikonek/firewall/_main.py
pikonek/firewall/_property.py
pikonek/netconfig/impl_eni.py
pikonek/netconfig/main.py
pikonek/netconfig/netconfig.py
pikonek/netconfig/objects.py
pikonek/netconfig/utils.py
pikonek/netconfig/validator.py
pikonek/network/_interface.py
pikonek/*.c
pikonek/network/*.c
pikonek/netconfig/*.c
pikonek/firewall/*.c
pikonek/dhcp/*.c
pikonek/core/*.c
pikonek/coinslot/*.c
pikonek/client/*.c
pikonek/captive/*.c
pikonek/admin/*.c
pikonek/ngrok/*.c
pikonek/pihole/*.c
pikonek/routes/web/*.c
pikonek/routes/api/*.c
pikonek/trafficcontrol/*.c
pikonek/wireless/*.c
templates/static/src
templates/static/src/**
obscure.sh
license/license.lic
license/license.lic.old
obscure.sh
license.lic
license.lic.old
license/license.lic
license/license.lic.old
pikonek/_subcoinacceptor.py
setup.py
start.py
pikonekbin.py
templates/public/portal_image/**
